google-api-python-client==2.89.0
google-auth==2.27.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
python-dotenv==1.0.0
requests==2.31.0
line-bot-sdk==3.5.0
Flask==3.0.3
anthropic==0.25.7
googlemaps==4.10.0
Werkzeug==3.0.1
